<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>

  <h2>介入記録アプリ</h2>
    <div id="app">
      <span v-for="tid in [1,2,3]">
        <button v-on:click="addRecord(tid)">介入（テーブル{{tid}}）</button>
      </span>
      <button v-on:click="removeRecord">一個削除</button>
      <button v-on:click="download">データをダウンロード</button>
      <ul>
        <li v-for="r in records">
          {{r}}
        </li>
      </ul>
    </div>
  <script src="index.js"></script>
  </body>
</html>